.App {
  text-align: center;
}

.border-1px {
  border: 1px solid black;
}

.landing-container {
  width: 750px;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  margin: auto;
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
}

.create-ticket-container {
  border: 1px solid #1677ff;
  width: 60%;
  padding: 10px;
}

.search-ticket-container {
  border: 1px solid #1677ff;
  width: 40%;
  padding: 10px;
}